a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #f5b426;
}

.background {
  background-image: url("assets/gradient.gif");
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}

.name {
  position: fixed;
  top: 65%;
  left: 50%;

  color: white;
  font-size: 65px;
  font-family: "Bungee Shade", cursive;
}

.description {
  position: fixed;
  top: 80%;
  left: 51%;

  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.presentation {
  position: fixed;
  top: 1%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Bungee", cursive;
}

.link1 {
  position: fixed;
  top: 9.5%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.projects {
  position: fixed;
  top: 10%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Bungee", cursive;
}

.proj1 {
  position: fixed;
  top: 16.5%;
  left: 1%;

  color: white;
  font-size: 15px;
  font-family: "Bungee Outline", cursive;
}

.link2 {
  position: fixed;
  top: 22%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.proj2 {
  position: fixed;
  top: 26%;
  left: 1%;

  color: white;
  font-size: 15px;
  font-family: "Bungee Outline", cursive;
}

.description-2 {
  position: fixed;
  top: 31.5%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.link3 {
  position: fixed;
  top: 34.5%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.proj3 {
  position: fixed;
  top: 35.5%;
  left: 1%;

  color: white;
  font-size: 15px;
  font-family: "Bungee Outline", cursive;
}

.link4 {
  position: fixed;
  top: 36%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.exercises {
  position: fixed;
  top: 50%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Bungee", cursive;
}

.list {
  position: fixed;
  top: 55%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.thoughts {
  position: fixed;
  top: 60%;
  left: 1%;

  color: white;
  font-size: 20px;
  font-family: "Bungee", cursive;
}
